QWidget {
    background-color: #FFFFFF;
}

QWidget#ProductsWid {
    background: #DDFCFB ;
}

QPushButton {
    background: #2DA02F;
    border: 1px solid transparent;
    border-radius: 7px;padding: 5px 15px 2px 5px;
    color: #ffffff;
    font: bold;
    width: 70px;
    height: 25px;
}

QListWidget::item {
     border-style: solid;
     border-width: .5px;
     border-color: #bdc3c7;
     border-radius: 15px;
     background-color: #DDFCFB;

}

QLineEdit {
    border: .5px solid gray;
    border-radius: 8px;
    padding: 0 8px;
    selection-background-color: #E7FCD2;
    font-size: 16px;}
    QLineEdit:focus { background-color: #E7FCD2;
}

QComboBox {
    border: .5px solid gray;
    border-radius: 7px;

}

