QWidget {
    background-color: #FFFFFF;
}

QWidget#ProductWidget {
    background: transparent;
}

QPushButton {
    background: #4834d4;
    border: 1px solid transparent;
    border-radius: 7px;padding: 5px 15px 2px 5px;
    color: #ffffff;
    font: bold;
    width: 70px;
    height: 25px;
}

QCheckBox {
    background: transparent;
    spacing: 5px;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
}

QCheckBox::indicator:checked {
    background: transparent;
    border-image: url(<image_dir>/icons8-check-circle-48.png);
}

QCheckBox::indicator:unchecked {
    background: transparent;
    border-image: url(<image_dir>/icons8-multiply-64.png);
}

QListWidget::item {
     border-style: solid;
     border-width: .5px;
     border-color: #bdc3c7;
     border-radius: 15px;
     background-color: #ffffff;

}

QLabel {
    background: transparent;
}


QHeaderView::section {
    background-color: #dff9fb;
    padding: 5px;
    font-size: 10pt;
    width: 20px;
    border-style: none;
    border-bottom: 1px solid #fffff8;
    border-right: 1px solid #fffff8;
}

QHeaderView::section:horizontal
{
    border-top: 1px solid #fffff8;
}

QHeaderView::section:vertical
{
    border-left: 1px solid #fffff8;
}
