QWidget {
    background-color: #FFFFFF;

}

QPushButton {
    background: #00a8ff;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 15px 2px 5px;
    color: #ffffff;
    font: bold;
    height: 25px;
}

QLineEdit {
    border: 1.5px solid #dcdde1;
    border-radius: 5px;
    padding: 0 8px;
    width: 100px;
    selection-background-color: #E7FCD2;
    }

 QLineEdit:focus
 {
    border: 1.5px solid #4cd137;
}


QLabel {
    font: bold;
    color: #353b48;
}