QWidget {
    background-color: #FFFFFF;
}

QLabel{
    background: transparent;

}

QLineEdit {
    border: 1.5px solid #7f8c8d;
    border-radius: 5px;
    padding: 0 8px;
    width: 100px;
    selection-background-color: #E7FCD2;
    }


 QLineEdit:focus
 {
    border: 1.5px solid #2ecc71;
}

QPushButton {
    background: #00a8ff;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 15px 2px 5px;
    color: #ffffff;
    font: bold;
    height: 25px;
}

QComboBox {
    border: 1.5px solid #7f8c8d;
    border-radius: 8px;
    padding: 0 8px;
    selection-background-color: #0097e6;

    }

 QComboBox:focus
 {
    border: 1.5px solid #2ecc71;
}

QCheckBox {
    spacing: 25px;
    background: transparent;

}

QCheckBox::indicator {
    width: 25px;
    height: 25px;
}

QCheckBox::indicator:checked
  {
    border-image: url(<image_dir>/check.png);
  }

QWidget#ProductsWid {
}

QListWidget{
    border: transparent;

}

QListWidget::item {
     border-style: solid;

}



