

QPushButton {
    background: #00a8ff;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 15px 2px 5px;
    color: #ffffff;
    font: bold;
}

QComboBox {
    border: 1.5px solid #dcdde1;
    border-radius: 8px;
    padding: 0 8px;
    selection-background-color: #0097e6;

    }

 QComboBox:focus
 {
    border: 1.5px solid #4cd137;
}

QLabel {
    font: bold;
    color: #353b48;
}

