QWidget {
    background-color: #FFFFFF;
}

QPushButton {
    background: #00a8ff;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 15px 2px 5px;
    color: #ffffff;
    font: bold;
    height: 25px;
}

QCheckBox {
    spacing: 25px;
}

QCheckBox::indicator {
    width: 25px;
    height: 25px;
}


QCheckBox::indicator:checked
  {
    border-image: url(<image_dir>/check.png);
  }



